.container-items {
  display: flex;
  color: white;
  align-items: center;
}

.p-item {
  padding: 20px;
  text-align: center;
  line-height: 25px;
}

.container-top {
  padding: 20px;
}

.home-image {
  padding: 40px;
}

.img-portada {
  border-radius: 10px;
  border: 2px solid white;
}
