<div ngClass="container-top">
  <div ngClass="container-items">
    <p ngClass="p-item">
      La selección masculina de fútbol de Argentina, es el equipo formado por
      jugadores con dicha nacionalidad que representa desde 1902 a la Asociación
      del Fútbol Argentino (AFA) en las competiciones oficiales organizadas por
      la Confederación Sudamericana de Fútbol (CONMEBOL), ente rector de ese
      deporte en América del Sur, y por la Federación Internacional de Fútbol
      Asociación (FIFA). Disputó su primer partido internacional el 20 de julio
      de 1902, en Montevideo, contra Uruguay, donde ganaría por 6 a 0. Este es
      reconocido por FIFA,​ AFA​ y AUF como el primer partido oficial de ambas
      selecciones.
    </p>
    <img
      src="https://c4.wallpaperflare.com/wallpaper/465/187/652/soccer-lionel-messi-argentina-national-football-team-hd-wallpaper-preview.jpg"
      alt="portada"
      width="500px"
      class="img-portada"
    />
  </div>
  <div ngClass="container-items">
    <img
      src="https://c4.wallpaperflare.com/wallpaper/266/945/257/soccer-angel-di-maria-argentina-national-football-team-hd-wallpaper-preview.jpg"
      alt="portada"
      width="500px"
      class="img-portada"
    />
    <p ngClass="p-item">
      Anteriormente en 1901, se disputó un partido amistoso en Uruguay pero este
      no es considerado oficial por ninguna de las asociaciones debido a que
      fueron equipos de ambos países los que lo jugaron.​Es considerada como una
      de las grandes potencias del fútbol masculino internacional, siendo, a
      nivel de selecciones mayores, el país con más títulos oficiales ganados de
      la historia (21), y también con más subcampeonatos (21).En total,
      Argentina ganó 53 títulos internacionales oficiales sumando los
      conseguidos a nivel de selecciones principal, olímpica y de juveniles. «La
      Albiceleste», como se la conoce, se encuentra en la cuarta posición de la
      tabla histórica general de la Copa del Mundo: la conquistó en dos
      oportunidades (1978 y 1986) y fue finalista en otras tres ocasiones (1930,
      1990 y 2014).
    </p>
  </div>
  <div ngClass="container-items">
    <p ngClass="p-item">
      Por su parte, la selección olímpica obtuvo la medalla de oro en Atenas
      2004 y en Pekín 2008 de manera consecutiva,12 ​ y la medalla de plata en
      Atlanta 1996. Además obtuvo numerosas medallas en otras competiciones
      oficiales para el COI con selecciones formadas con juveniles, ganó: cinco
      medallas de oro, dos de plata y tres de bronce en los Torneos
      Preolímpicos;13​ siete de oro, dos de plata y tres de bronce, en los
      Juegos Panamericanos;14​ y dos de oro y una de plata en los Juegos
      ODESUR.15​ Los seleccionados de Argentina y Francia son los únicos del
      mundo que han logrado ganar la Copa Mundial, los Juegos Olímpicos, la Copa
      Confederaciones, la Copa Intercontinental de Selecciones, y su respectivo
      torneo regional (Copa América y Eurocopa, respectivamente).
    </p>
    <img
      src="https://c4.wallpaperflare.com/wallpaper/903/321/189/soccer-paulo-dybala-argentina-national-football-team-hd-wallpaper-preview.jpg"
      alt="portada"
      width="500px"
      class="img-portada"
    />
  </div>
</div>
