<nav ngClass="navbar">
  <div ngClass="div-img">
    <a routerLink="seleccion">
      <img
        src="http://4.bp.blogspot.com/-EVs3d3XZUHg/Up5ZL7c3enI/AAAAAAAACJ0/k-4pWBt1VJY/s1600/2ikgw7rrbj1v1wzsiekc.gif"
        alt="img-escudo"
        width="50px"
      />
    </a>
  </div>
  <div ngClass="div-navbar-items">
    <a routerLink="" ngClass="navbar-item">Seleccion</a>
    <a routerLink="jugadores" ngClass="navbar-item">Jugadores</a>
    <a routerLink="nuevo-jugador" ngClass="navbar-item">Nuevo jugador</a>
    <span>
      <a routerLink="login" ngClass="navbar-item">Login</a>
      <a routerLink="register" ngClass="navbar-item">Register</a>
    </span>
  </div>
</nav>
