/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://images2.alphacoders.com/979/thumb-1920-979205.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 84vh;
}
